.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition-duration: 0.4s;
}

.main-container:hover {
  background-color: #00AABA;
  color: black;
}

img {
  margin-top: 1rem;
  width: 50%;
}

p {
  width: fit-content;
}
