.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition-duration: 0.4s;
}

.selected {
  background-color: rgb(1, 104, 114);
  color: black;
}

img {
  margin-top: 1rem;
  width: 50%;
}

p {
  width: fit-content;
}
